{% extends "base.html" %}
{% load static %}

    {% block content %}

    <!-- Main content -->
    <!--<section class="content">-->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       {% if well.banner == "" %}
                        src="/media/well_banners/default_well.png"
                       {% else %}
                        src="{{ well.banner.url }}"
                       {% endif%}
                       alt="Скважина">
                </div>

                <h3 class="profile-username text-center">{{well.name}}</h3>

                <p class="text-muted text-center">{{well.uid}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Назначение скважины:</b>
                    <div class="card card-success collapsed-card">
                      <div class="card-header">
                        <h3 class="card-title" style="text-transform: uppercase">{{well.purposeWell}}</h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        {{well.purposeWell.description}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <b>Статус скважины:</b>
                    <div class="card card-primary collapsed-card">
                      <div class="card-header">
                        <h3 class="card-title" style="text-transform: uppercase">{{well.statusWell}}</h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        {{well.statusWell.description}}
                      </div>
                    </div>
                  </li>
                  <!--<li class="list-group-item">
                    <b>Following</b> <a class="float-right">543</a>
                  </li>
                  <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">13,287</a>
                  </li>-->
                </ul>

                <!--<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>-->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Информация</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-map-marker-alt mr-1"></i>Расположение скважины:</strong>

                <p class="text-muted">{{well.country}}, {{well.state}}, {{well.county}}, {{well.region}},
                  {{well.district}}, {{well.block}}</p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i>Описание</strong>

                <p class="text-muted">{{well.description}}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#wellbores" data-toggle="tab">Стволы скважины</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Журнал производимых работ на скважине</a></li>

                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="wellbores">

                     <table id="equipment" class="table table-bordered table-hover">
                  <thead>

                  <tr>
                      <th>#</th>
                    <th>Название</th>
                    <th>Уникальный идентификатор</th>
                    <th>Статус</th>
                  </thead>
                  <tbody>
                    {% for welbore in welbores %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'wells:wellbore' welbore.uid %}">{{ welbore.name}}</a></td>
                        <td>{{ welbore.uid}}</td>
                       <td><p title="{{welbore.statusWellbore.description}}">{{welbore.statusWellbore}}</p>

                         <img
                                 {% if equipment.banner == "" %}
                                 src="/media/equipment_banners/default_equipment.jpg"
                                 {% else %}
                                 src="{{ equipment.banner.url }}"
                                 {% endif%}
                                    >

                       </td>

                    </tr>
                    {% endfor %}

                    </tfoot>
                </table>
                  </div>

                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-danger">
                          10 Feb. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-envelope bg-primary"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 12:05</span>

                          <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                          <div class="timeline-body">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                            quora plaxo ideeli hulu weebly balihoo...
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-primary btn-sm">Read more</a>
                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                          <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
                          </h3>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-comments bg-warning"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                          <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                          <div class="timeline-body">
                            Take me to your leader!
                            Switzerland is small and neutral!
                            We are more like Germany, ambitious and misunderstood!
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-success">
                          3 Jan. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-camera bg-purple"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                          <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                          <div class="timeline-body">
                            <!--<img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">-->
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    <!--</section>-->
    </div>


{% endblock %}
